[Unit]
Description=Jupyter

[Service]
WorkingDirectory=/home/pi/notebooks/
ExecStart=/usr/local/bin/jupyter notebook --ip=0.0.0.0 --no-browser --NotebookApp.token=''
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jupyter
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
