[Unit]
Description=Cloud9

[Service]
WorkingDirectory=/home/pi/
ExecStart=/usr/local/bin/node --max_old_space_size=256 /home/pi/.c9/server.js -p 8181 -a :
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=c9
User=pi
Group=pi
Environment=NODE_ENV=production IP=0.0.0.0

[Install]
WantedBy=multi-user.target
