[Unit]
Description=Telegraf
Requires=influxdb.service

[Service]
WorkingDirectory=/home/pi/
ExecStart=/usr/local/bin/telegraf
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=telegraf
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
